<nav>
  <a routerLink="/comp1" routerLinkActive="active"><img src="../assets/img/1.png"
                                                        alt="apple"></a>
  <a routerLink="/comp2" routerLinkActive="active"><img src="../assets/img/2.png"
                                                        alt="asus"></a>
  <a routerLink="/comp3" routerLinkActive="active"><img src="../assets/img/3.png"
                                                        alt="hp"></a>
  <a routerLink="/comp4" routerLinkActive="active"><img src="../assets/img/4.png"
                                                        alt="acer"></a>
  <a routerLink="/comp5" routerLinkActive="active"><img src="../assets/img/5.png"
                                                        alt="lenovo"></a>
  <a routerLink="/comp6" routerLinkActive="active"><img src="../assets/img/6.png"
                                                        alt="samsung"></a>
  <a routerLink="/comp7" routerLinkActive="active"><img src="../assets/img/7.png"
                                                        alt="dell"></a>
  <a routerLink="/comp8" routerLinkActive="active"><img src="../assets/img/8.png"
                                                        alt="canon"></a>
  <a routerLink="/comp9" routerLinkActive="active"><img src="../assets/img/9.png"
                                                        alt="tp-link"></a>
  <a routerLink="/comp10" routerLinkActive="active"><img src="../assets/img/10.jpg"
                                                         alt="logitech"></a>
</nav>
